
<section class="header-16-sub-about">
  <div id="h-16-pt-main" class="page-transitions pt-perspective">
    <div class="v-center pt-page pt-page-1 pt-page-current">
      <div>
        <div class="background" id="header-main">&nbsp;</div>
        <div class="container">
          <div class="hero-unit" id="center-main">
            <h2>LEARN MORE OF</h2>
            <h1>WHAT WE DO</h1>
          </div>
        </div>
      </div>
      <span class="scroll-btn"><a href="#next"> <span class="mouse"><span> </span></span></a></span>
    </div>
  </div>
</section>

<section class="content-32-about" id="next">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1>PARADIGM PHILOSOPHY</h1>
        <p>"Together Everyone Achieves More" - a mantra taught throughout sports and what we at Paradigm Sports Management emulate in our operations and management. Paradigm Sports Management breaks the conventional approach to offer a unique level of service that emulates our clients’ discipline, passion, and determination on their respective playing field.  It starts and ends with our clients well being and satisfaction, we do not rest until meeting and exceeding our clients needs and expectations.  With over 10 years of combined experience, Paradigm Sports Management combines athletic, academic, and professional knowledge to create a formidable synergy, providing a full-service agency with an unmatched efficiency.  Our hands on approach provide our clients with strategic, analytical and honest advice in both our clients' playing and business careers. We aim to develop life long relationships, whereby our clients can always count on Paradigm Sports Management to be their partner, confidant and friend on and off their respective field.</p>
      </div>
    </div>
  </div>
</section>
<br>
<section class="content-32-about" id="next">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="top">TEAM</h1>
      </div>
    </div>
  </div>
  <div class="fluid-container">
    <div class="row">
      <div class="col-xs-6 col-sm-3" style="padding-left: 0px;padding-right: 0px;">
        <%= image_tag 'staff.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-xs-6 col-sm-3" style="padding-left: 0px;padding-right: 0px;">
        <%= image_tag 'staff.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-xs-6 col-sm-3" style="padding-left: 0px;padding-right: 0px;">
        <%= image_tag 'staff.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-xs-6 col-sm-3" style="padding-left: 0px;padding-right: 0px;">
        <%= image_tag 'staff.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
