<header class="header-1">
  <div class="container">
    <div class="row">
      <div class="navbar col-sm-12 navbar-fixed-top bg-black" role="navigation">
        <div class="navbar-header" id="logotop">
          <button type="button" class="navbar-toggle"></button>
          <%= image_tag 'logo-sm.png' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav pull-right">
            <li>
              <a id="showRightPush" href="#">MENU =</a>
            </li>
            <li>
              <a href="#">HOME</a>
            </li>
            <li>
              <a href="#">WORK</a>
            </li>
            <li>
              <a href="#">BLOG</a>
            </li>
            <li>
              <a href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="header-16-sub" style="height: 782px;">
  <div id="h-16-pt-main" class="page-transitions pt-perspective">
    <div class="v-center pt-page pt-page-1 pt-page-current">
      <div>
        <div class="background">&nbsp;</div>
        <div class="container">
          <div class="hero-unit">
            <%= image_tag 'logo.png', id: 'logo-main' %>
          </div>
        </div>
      </div>
      <span class="scroll-btn"><a href="#"> <span class="mouse"><span> </span></span> SCROLL TO VIEW MORE</a></span>
    </div>
  </div>
</section>
<section class="content-32">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Documentation</h3>
        <p class="lead">The most important parts of the Startup Framework are Samples and the UI Kit that
          includes a set of different components. The samples consist of a set of 25 pages. Each of these
          pages you can use as-is or with new blocks from a UI Kit.</p>
      </div>
    </div>
  </div>
</section>
<section class="content-20 v-center bg-midnight-blue">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-4 col-sm-offset-1 features">
          <big>The most important part of the Startup Design Framework is the samples</big>
          <div class="row">
            <div class="col-sm-8">
              <h6>Easy to use</h6>
              To get started, you select the desired sample and build on the basis of its entire website.
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <h6>Variety of designs</h6>
              Responsive web design is a web design approach aimed at crafting sites to provide.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "Clients", clients_path %>
<%= link_to "Contact", contact_path %>
