// All pages custom scss located here

//Top Nav
.menu-tab {
  position: fixed;
  top: 13px;
  right: 20px;
  color: #ffffff;
  &:hover, &:focus {
    color: #ffffff;
  }
}

#logotop {
  position: fixed;
  top: 10px;
  left: 20px;
  @media (min-width: 768px) and (max-width: 991px) {
    width: 130px;
    top: 20px;
  }
  @media (max-width: 767px) {
    width: 130px;
    top: 20px;
  }
}


// Home Page
.header-16-sub-home {
  @extend .header-16-sub;
  .background {
    background-image:url(image-path("home-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-size: 25px;
    border: none;
  }

}

.content-32-home{
  @extend .content-32;
  background: #ffffff;
  padding-bottom: 185px;
  h1 {
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    padding-bottom:20px;
  }
  .top{
    padding-bottom: 50px;
  }
  .bottom {
    padding-top: 140px;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    padding-bottom:40px;
  }
}

.content-20-home {
  @extend .content-20;
  .background {
    background-image:url(image-path("services.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 30px;
  }
  p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    padding-bottom: 45px;
    font-size: 20px;
    text-decoration: underline;
  }
}

.content-23-home {
  @extend .content-23;
  .background {
    background-image:url(image-path("blog.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    padding-bottom:40px;
  }
}

.btn-inverse-home {
  @extend .btn-inverse;
  margin: 0 auto;
  display: block;
  background: transparent;
  border: #838383 3px solid;
  border-radius: 0px;
  color: #838383 !important;
  width: 200px;
  &:hover {
    background: black;
    border: #000000 3px solid;
    color: #ffffff !important;
  }
}

.btn-inverse-service {
  @extend .btn-inverse;
  background: transparent;
  border: white 3px solid;
  color: white !important;
  border-radius: 0px;
  width: 200px;
  &:hover {
    background: white;
    border: white 3px solid;
    color: #000000 !important;
  }
}

// About page
.header-16-sub-about {
  @extend .header-16-sub;
  .background {
    background-image:url(image-path("about-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 25px;
    border: none;
  }
  h1 {
    border: none !important;
    font-size: 90px !important;
  }
}

.content-32-about{
  @extend .content-32;
  background: #ffffff;
  padding-bottom: 0 !important;
  h1 {
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    padding-bottom:20px;
  }
  .top{
    padding-bottom: 50px;
  }
  .bottom {
    padding-top: 140px;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    text-align: left !important;
  }
}

// Services Page

.header-16-sub-services {
  @extend .header-16-sub;
  .background {
    background-image:url(image-path("services-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 25px;
    border: none;
  }
  h1 {
    border: none !important;
    font-size: 90px !important;
  }
}

.projects-2-services {
  @extend .projects-2;
  h1 {
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    padding-bottom:20px;
  }
  .project-1 {
    background-image:url(image-path("soccer.jpg")) !important;
  }
  .project-2 {
    background-image:url(image-path("basketball.jpg")) !important;
  }
  .project-3 {
    background-image:url(image-path("mma.jpg")) !important;
  }
  .project-4 {
    background-image:url(image-path("football.jpg")) !important;
  }
  .project-5 {
    background-image:url(image-path("marketing.jpg")) !important;
  }
}


// Soccer Page

.header-16-sub-soccer{
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("soccer-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
  h1 {
    border: none;
    font-size: 100px;
    font-weight: 500;
  }
  h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
  }

}

.content-32-soccer {
  @extend .content-32;
  background: #fafafa !important;
  p {
    color: #838383;
    font-size: larger;
    text-align: left;
  }
  h3 {
    color:#000000;font-size:40px;font-weight:700;
  }
}

.projects-2-soccer {
  @extend .projects-2;
  padding-top:0px!important;
  .project-1.v-center-soccer{
    @extend .project-1, .v-center;
    opacity:1!important;
    background-image:url(image-path("soccer1.jpg"));
    background-attachment: fixed;
  }
}



// Footer

.footer-13 {
  .col-md-2 {
    .overlay-facebook {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #2a6496;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-twitter {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #428bca;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-youtube {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #AF1300;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-linkedin {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #007BB6;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}
