// All pages custom scss located here
// Home Page
.header-16-sub-home {
  @extend .header-16-sub;
  .background {
    background-image:url(image-path("home-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 50px;
    letter-spacing: 3px;
    font-size: 25px;
    border: none;
  }

}

.content-32-home{
  @extend .content-32;
  background: #ffffff;
  padding-bottom: 185px;
  h1 {
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    padding-bottom:20px;
  }
  .top{
    padding-bottom: 50px;
  }
  .bottom {
    padding-top: 140px;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    padding-bottom:40px;
  }
}

.content-20-home {
  @extend .content-20;
  .background {
    background-image:url(image-path("services.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 30px;
  }
  p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    padding-bottom: 45px;
    font-size: 20px;
    text-decoration: underline;
  }
}

.content-23-home {
  @extend .content-23;
  .background {
    background-image:url(image-path("blog.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    padding-bottom:40px;
  }
}

.btn-inverse-home {
  @extend .btn-inverse;
  margin: 0 auto;
  display: block;
  background: transparent;
  border: #838383 3px solid;
  border-radius: 0px;
  color: #838383 !important;
  width: 200px;
  &:hover {
    background: black;
    border: #000000 3px solid;
    color: #ffffff !important;
  }
}

.btn-inverse-service {
  @extend .btn-inverse;
  background: transparent;
  border: white 3px solid;
  color: white !important;
  border-radius: 0px;
  width: 200px;
  &:hover {
    background: white;
    border: white 3px solid;
    color: #000000 !important;
  }
}

// Footer

.footer-13 {
  .col-md-2 {
    .overlay-facebook {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #2a6496;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-twitter {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #428bca;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-youtube {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #AF1300;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-linkedin {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #007BB6;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-mogo {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #DEA74A;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}
