<header class="header-1">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div id="navbkg"></div>
    <div class="container-fluid">

        <%= link_to image_tag('logo-sm.png'), root_path, id: 'logotop' %>
      


          <a class="menu-tab" href="#" id="showRightPush">
            <span class="hamburger">
              <%= image_tag 'hamburger.svg'%>
            </span>
          </a>


    </div>
    </div>
</header>
