<!DOCTYPE html>
<html>
<head>
  <title>Paradigm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrapper">
    
    <%= yield %>

  </div>
  <script>
  $(document).ready(function() {
    $(window).scroll(function(){
      if(document.body.scrollTop > 600)
        $('#logotop').fadeIn( "slow", function() { });
        else
          $('#logotop').fadeOut( "slow", function() { });
        });

        $('a#srolltotop').click(function(){
          $('html, body').animate({scrollTop:0}, 100);
          return false;
        });
      });
  </script>
</body>
</html>
