<!DOCTYPE html>
<html>
<head>
  <title>Paradigm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="cbp-spmenu-push">

<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <h3>Menu</h3>
  <a href="#">Celery seakale</a>
  <a href="#">Dulse daikon</a>
  <a href="#">Zucchini garlic</a>
  <a href="#">Catsear azuki bean</a>
  <a href="#">Dandelion bunya</a>
  <a href="#">Rutabaga</a>
</nav>

<div class="page-wrapper">
    
    <%= yield %>

  </div>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <script>
  $(document).ready(function() {
    $(window).scroll(function(){
      if(document.body.scrollTop > 600)
        $('#logotop').fadeIn( "slow", function() { });
        else
          $('#logotop').fadeOut( "slow", function() { });
        });

        $('a#scrolltotop').click(function(){
          $('html, body').animate({scrollTop:0}, 100);
          return false;
        });
      });
  </script>
</body>
</html>
